<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
    </tr> 
          {% for person in note %}
<tr>
      <td>{{person.to}}</td>
      <td>{{person.ffromm}}</td>
      <td>{{person.title}}</td>
      <td>{{person.message}}</td>
</tr>
          {% endfor %}
     
    </table>
  </body>
</html>
