<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table border="5">
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      <!-- TODO loop from Friend model -->
    </tr>
    {% if friends %} 
          {% for person in friends %}
<tr>
      <td>{{person.name}}</td>
      <td>{{person.npm}}</td>
      <td>{{person.dob}}</td>
</tr>
          {% endfor %}
      {% endif %}
    </table>
  </body>
  <style>
    table, th, td {
      border-color: rgb(62, 64, 94);
      padding: 10px;
      color: rgb(40, 40, 40);
    }
  </style>
</html>
